// Place all the styles related to the bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 300px;
  height: 300px;
}

.table_label {
  background-color: #7cfc00;
}