<% if day.day_status == 0 || day.day_status == 1 %>
  <span class="label label-warning">残業申請中</span>
<% elsif day.day_status == 2 %>
  <span class="label label-success">つとむさん残業申請承認済み</span>
<% elsif day.day_status == 4 %>
  <span class="label label-success">きださん残業申請承認済み</span>
<% elsif day.day_status == 3 %>
  <span class="label label-danger">残業申請否認</span>
<% end %>